---
---

<ul class="list pa0">
  {% for post in site.posts %}
    {% capture posttime %}{{post.date | date: "%Y-%m-%d"}}{% endcapture %}
    {% if posttime >= "2017-05-01" %}{% unless post.draft %}
      <li class="mv3">
      <small class="pv1 datetime" data-time="{{ post.date }}">{{ post.date | date: "%b %-d %Y" }} </small>
        {% if post.favorite %}<span class="favorite"><img src="/images/favorite.svg"></span>{% endif %}
        {% if posttime == "2019-08-22" %}
          <a href="https://www.figma.com/blog/how-we-built-the-figma-plugin-system/" class="pv1 link hover-mid-gray">
            {{ post.title }}
          </a>
        {% else %}
          <a href="{{ site.url }}{{ post.url }}" class="pv1 link hover-mid-gray">
            {{ post.title }}
          </a>
        {% endif %}
      </li>
    {% endunless %}{% endif %}
  {% endfor %}
</ul>

<p class="posts-divider"><span>end of undergraduate degree</span></p>

<ul class="list pa0">
  {% for post in site.posts %}
    {% capture posttime %}{{post.date | date: "%Y-%m-%d"}}{% endcapture %}
    {% if posttime < "2017-05-01" %}
      <li class="mv3">
      <small class="pv1 datetime" data-time="{{ post.date }}">{{ post.date | date: "%b %-d %Y" }} </small>
        {% if post.favorite %}<span class="favorite"><img src="/images/favorite.svg"></span>{% endif %}
        <a href="{{ site.url }}{{ post.url }}" class="pv1 link hover-mid-gray">
          {{ post.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
